*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
    text-decoration: none;
}

input {
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 6px;
}

button {
    width: 100%;
    border: none;
    height: fit-content;
    margin-top: 10px;
background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(./kirby2.jpeg);
    background-color: rgba(255, 255, 255, 0.7 );    
    background-blend-mode: lighten;
    border: 3px solid #f2a960;
    font-size: 15px;
    color: #f2a960;
    font-weight: bolder;
    padding: 5px;
    border-radius: 20px;
}

button:hover {
    background-color: #f6ad7d;
    border: 3px solid #f2a960;
    color: white;
}

.espaco {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 100px 50px 100px;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(./kirby.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

.containerCruzadinha {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.containerCruzadinha td {
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.containerCruzadinha table {
    border-collapse: collapse;
    border: 3px solid #a47ac4;
    background-color: rgba(164, 122, 196, 0.5); 
}

.containerDicas {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 50px;
    background-color: #80cac7;
    width: 80%;
}

.containerDicas h4 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
}

.containerCruzadinha h2 {
    font-size: 45px;
    margin-bottom: 45px;
    margin-top: -10px;
    color: #a47ac4;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #a47ac4
}

.containerDicas h3 {
    align-self: center;
    color: white;
    color: rgba(0, 0, 0, 0.7);
}